.pc-only {
  @media (max-width: 767px) {
    display: none;
  }
}

.mb-only {
  @media (min-width: 768px) {
    display: none;
  }
}

.about-us {
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

.header-section {
  position: relative;
  background: #17191D url("/assets/images/components/mobile/about/banner.jpg") no-repeat;

  @media (min-width: 769px) {
    background: #17191D url("/assets/images/components/desktop/about/banner.jpg") no-repeat left;
    background-size: cover;
  }

  @media (max-width: 1660px) {
    background-position: 25%;
  }

  @media (max-width: 1024px) {
    background-position: 32%;
  }

  @media (max-width: 768px) {
    background-position: bottom;
    background-size: cover;

    &__top {
      padding-top: pxVwMobile(70);
      flex-direction: column-reverse;
      align-items: center;
    }

  }

  @media (max-width: 576px) {
    background-size: 100%;
  }

  &.event {
    padding: 4rem 0 0;
    background: #17191D url("/assets/images/components/mobile/about/event-banner.jpg") no-repeat bottom;
    background-size: cover;

    .figure-section {
      padding-bottom: calc(clamp(233px, 75%, 388px));
    }

    @media (min-width: 768px) {
      background: #17191D url("/assets/images/components/desktop/about/event-banner.jpg") no-repeat center;
      background-size: cover;
    }

    .header-section__top {
      flex-direction: column-reverse;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    .header-content__title {
      @media (min-width: 1560px) {
        font-size: 42px;
      }
    }

    .header-content__title-logo {
      max-width: 120px;
      margin-bottom: 0;
      margin-top: 2px;

      @media (min-width: 768px) {
        max-width: 160px;
      }

      @media (min-width: 1024px) {
        max-width: 180px;
      }

      @media (min-width: 1560px) {
        max-width: 272px;
        height: 57px;
      }
    }

    .header-content__desc {
      max-width: calc(clamp(270px, 30vw, 578px));

      span {
        @media (max-width: 767px) {
          display: inline-block;
        }
      }
    }
  }
}

.figure-section {
  position: relative;
  height: 0;
  bottom: 0;
  padding-bottom: pxVw(467);
  overflow: hidden;

  @media (max-width: 768px) {
    padding-bottom: pxVwTablet(600);
  }

  &__person {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: bottom;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }

    @media (min-width: 768px) {
      &--desktop {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }
  }

  &__coin {
    position: absolute;
    right: 18%;
    top: 20%;
    width: 9%;
    animation: pulse 2s ease-in-out infinite;
  }

  &__logo {
    position: absolute;
    left: 6%;
    top: 43%;
    width: 19%;
    animation: pulse 2s ease-in-out infinite;
  }
}

.header-content {
  text-align: center;

  @media (min-width: 769px) {
    margin-top: pxVwTablet(150);
    padding: 1rem 0 3rem;
    text-align: left;
  }

  @media (min-width: 1024px) {
    margin-top: pxVw(170);
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: pxVwMobile(8);
    font-size: pxVwMobile(14);
    line-height: 1.4;
    font-weight: 700;
    color: #FFFFFF;
    white-space: nowrap;

    @media (min-width: 576px) {
      margin-bottom: 1rem;
      font-size: pxVwTablet(25);
    }

    @media (min-width: 1200px) {
      font-size: pxVw(48);
    }

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__title-logo {
    object-fit: contain;
    width: auto;
    height: pxVwMobile(32);
    margin-right: pxVwMobile(10);

    @media (max-width: 768px) {
      display: none;
    }

    @media (min-width: 769px) {
      height: pxVwTablet(28);
    }

    @media (min-width: 1200px) {
      height: pxVw(47);
      margin-right: pxVw(10);
    }
  }

  &__highlight {
    color: $main-600;
  }

  &__desc {
    font-weight: 400;
    font-size: pxVwMobile(10);
    line-height: 1.5;
    color: #fff;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 576px) {
      margin: 0;
      text-align: left;
      font-size: pxVwTablet(20)
    }

    @media (min-width: 769px) {
      font-size: pxVw(20)
    }
  }

  &__action {
    @media (min-width: 768px) {
      margin-top: 3rem;
    }

    .base-button {
      width: calc(clamp(175px, 20vw, 185px));
    }

    @media (min-width: 1024px) {
      .base-button {
        font-size: 16px;
        line-height: 24px;
        padding: 1rem;
      }
    }
  }
}

.card-wrapper {
  background: #FAFAFA;
  padding: 2rem 0 4rem;

  &--grey {
    background: #F0F2F9;
  }

  &__inner {
    padding: 0 12px;
  }

  &__container {
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 1024px) {
      max-width: 996px;
    }

    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }

  @media (max-width: 575px) {
    padding: pxVwMobile(24) pxVwMobile(12) pxVwMobile(12);
  }
}

.card-animation {
  opacity: 0;
  transition: opacity .3s;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;

  &--left {
    animation-name: animationTranslateLeft;
  }

  &--right {
    animation-name: animationTranslateRight;
  }

  &--active {
    opacity: 1;
  }
}

.card-content {
  &__title {
    color: #05A7A7;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;

    @media (min-width: 576px) {
      font-size: 18px;
    }

    @media (min-width: 1024px) {
      font-size: 24px;
    }

    span {
      position: relative;
      text-transform: uppercase;

      &:after {
        content: '';
        position: absolute;
        right: -68px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 1px;
        background-color: #05A7A7;

        @media (min-width: 1024px) {
          height: 2px;
          width: 143px;
          right: -160px;
        }
      }
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;

    @media (min-width: 576px) {
      font-size: 30px;
    }

    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 40px;
    }

    &.--pre {
      white-space: pre;
    }

    span {
      @media (max-width: 767px) {
        display: inline-block;
      }
    }
  }

  @media (max-width: 575px) {
    &__title {
      span {
        &::after {
          content: unset;
        }
      }
    }

    &__title,
    &__desc {
      text-align: center;
      margin-bottom: 0;
    }

    &__img {
      padding: pxVwMobile(16) 0;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0;

    img {
      width: calc(clamp(350px, 20vh, 400px));
      height: calc(clamp(350px, 20vh, 400px));
      object-fit: contain;

      @media (max-width: 575px) {
        width: pxVwMobile(225);
        height: pxVwMobile(225);
      }
    }
  }

  &__action {
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: start;
    }
  }

  &__list {
    @media (max-width: 575px) {
      padding-left: pxVwMobile(16);
    }
  }

  &__item {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    font-weight: 400;
    list-style: none;
    position: relative;
    padding: 0 0 16px 16px;

    @media (max-width: 575px) {
      font-size: pxVwMobile(12);
      padding: 0 0 pxVwMobile(8) pxVwMobile(12);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 6px;
      height: 6px;
      background-color: #05A7A7;
      border-radius: 50%;

      @media (min-width: 768px) {
        top: 9px;
      }
    }
  }
}
