$currentPage: 'home-page';

@mixin timeline-icon() {
  width: 48px;
  height: 48px;
  background: #F98600;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 0;
  color: white;
}

.pc-only {
  @media (max-width: 767px) {
    display: none;
  }
}

.mb-only {
  @media (min-width: 768px) {
    display: none;
  }
}


.#{$currentPage} {
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  .header-section {
    width: 100%;
    height: calc(clamp(700px, 58vw, 800px));
    background-image: url("/assets/images/components/desktop/home/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 0 2rem;
    position: relative;

    @media (min-width: 768px) and (max-width: 991px) {
      height: 600px;
    }
  }

  .header-title {
    @media (max-width: 767px) {
      display: none;
    }
    color: $white;
    margin-top: 32px;

    .main-title {
      font-size: calc(clamp(24px, 4vw, 56px));
      white-space: pre-line;
    }

    .figure-section {
      height: 0;
      overflow: hidden;

      &__mascot {
        position: absolute;
        width: 90%;
        height: 140%;
        left: 0;
        object-fit: contain;
      }

      &__coin {
        position: absolute;
        right: 2px;
        top: 60%;
        width: 20%;
        animation: pulse 2s ease-in-out infinite;

        @media (min-width: 1200px) {
          top: 70%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          top: 75%;
        }
      }

      &__scroll {
        position: absolute;
        bottom: -20%;
        left: 2%;
        width: 20%;
        animation: pulse 2s ease-in-out infinite;

        @media (min-width: 1200px) {
          bottom: -35%;
          width: 17%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          bottom: -40%;
          left: 2%;
          width: 30%;
        }
        @media (min-width: 992px) and (max-width: 1599px) {
          bottom: -40%;
        }
      }

      &__logo {
        position: absolute;
        right: 0;
        top: 75%;
        width: 12%;
        animation: pulse 2s ease-in-out infinite;

        @media (min-width: 1200px) {
          top: 80%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          top: 90%;
        }
      }

      &__get-start {
        position: absolute;
        left: 70%;
        top: 35%;
        width: 12%;
        -webkit-animation:spin 10s linear infinite;
        -moz-animation:spin 10s linear infinite;
        animation: spin 10s linear infinite;

        @media (min-width: 768px) {
          left: 75%;
        }

        @media (min-width: 1200px) {
          left: 70%;
        }
      }
      &__space-custom {
        margin-top: 5%;
      }
    }
    h5 {
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 1rem;
      }
    }
  }

  .header-title-mb {
    text-align: center;
    position: relative;
    color: $white;
    .main-title {
      padding: 0 25%;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 65%;
      white-space: pre;
      font-size: calc(clamp(24px, 4vw, 5rem));
      @media (min-width: 375px) and (max-width: 767px) {
        padding: 0 10%;
      }
    }
    &__button {
      margin-top: 5rem;
      @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 4rem;
      }
    }
    &__logo {
      position: absolute;
      left: 17%;
      top: 10%;
      width: 10%;
      animation: pulse 2s ease-in-out infinite;
    }
    &__coin {
      position: absolute;
      right: 16%;
      top: 10%;
      width: 10%;
      animation: pulse 2s ease-in-out infinite;
      @media (min-width: 375px) and (max-width: 767px) {
        right: 10%;
      }
    }
    &__get-start {
      position: absolute;
      right: -10%;
      top: 21%;
      width: 20%;
      -webkit-animation:spin 10s linear infinite;
      -moz-animation:spin 10s linear infinite;
      animation: spin 10s linear infinite;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .header-collection {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 13, 26, 0.5);
    display: flex;

    &__border-right {
      border-right: 1px solid #212530;
    }

    &__border-top {
      border-top: 1px solid #212530;
    }

    &__mg-bt-12 {
      margin-bottom: 12px;
    }

    &__mg-t-12 {
      margin-top: 12px;
    }

    &__content {
      color: $white;
      padding: 40px 0;

      @media (max-width: 767px) {
        padding: 12px 0;
      }

      &--groups {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      &--number-text {
        @include font-t40b;
      }

      &--f16r {
        @include font-t16r;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        padding: 20px 0;
      }
    }
  }

  .home-about {
    margin-top: 100px;

    .coin-top {
      &__d-flex {
        display: flex;
      }
      &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;

        @media (min-width: 992px) {
          font-size: 20px;
          line-height: 30px;
        }
      }

      &__item {
        border: 1px solid $grey-300;
        border-radius: 10px;
        min-width: 180px;
        padding: 10px;

        img {
          width: 100%;
        }

        &--coin-up {
          color: rgba(1, 174, 112, 1);
          @include font-t14r;
        }
        &--coin-down {
          color: rgba(241, 44, 44, 1);
          @include font-t14r;
        }

        &--coin-price {
          padding-left: 0;
          @include font-t14r;
        }
      }

      &__item-icon {
        padding-right: 5px;

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 0 15px;
        }
      }

      &__item-info {
        padding: 0;
      }

      &__price-change {
        padding-right: 5px;

        @media (min-width: 768px) and (max-width: 1199px) {
          padding-right: 0;
        }

        img {
          width: 6%;

          @media (min-width: 992px) {
            width: 8%;
          }
          @media (min-width: 1920px) {
            width: 7%;
          }
        }

        &--union {
          width: 10%;
          @media (min-width: 992px) and (max-width: 1199px) {
            width: 12%;
          }
        }
      }

      .coin-top-pr0 {
        padding-right: 0;

        @media (min-width: 768px) and (max-width: 991px) {
          margin-top: 30px;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          padding: 0 15px;
        }
      }
    }

    .features {
      margin-top: 100px;

      h2 {
        font-size: 48px;
        font-weight: 700;
        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      &__content {
        margin-top: 72px;

        p {
          @include font-t14r;
        }

        &--banner {
          @media (min-width: 768px) {
            margin: auto;
          }
        }
      }

      &__banner {
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &__item {
        margin-top: 40px;
        margin-left: 12px;
        margin-right: 12px;

        h4 {
          font-weight: 700;
          font-size: 20px;
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }

        p {
          font-weight: 400;
          font-size: 14px;
        }
      }

      &__trade-now-button {
        margin-top: 80px;
        @media (max-width: 767px) {
          justify-content: center;
          display: flex;
        }
      }
    }

    .why-choice {
      margin-top: 100px;
      text-align: center;

      h2 {
        font-size: 48px;
        font-weight: 700;
        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      h3 {
        padding: 10% 12%;
        font-weight: 700;
        font-size: 20px;
        @media (max-width: 767px) {
          font-size: 16px;
          padding: 12px !important;
          margin: 0;
        }
      }

      p {
        padding: 0 5%;
        font-weight: 400;
        font-size: 14px;
      }

      h5 {
        margin-top: 30px;
        font-weight: 400;
        font-size: 20px;
        @media (max-width: 767px) {
          margin-top: 8px;
          font-size: 14px;
        }
      }

      &__safe-number {
        &:after {
          content: "";
          position: absolute;
          top: 20%;
          left: 15%;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/components/desktop/home/choice-one.svg");
          background-repeat: no-repeat;
          @media (max-width: 767px) {
            top: 85px;
            left: 42px;
            background-size: auto 125px;
          }
        }
      }

      &__price-number {
        &:after {
          content: "";
          position: absolute;
          top: 20%;
          left: 15%;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/components/desktop/home/choice-two.svg");
          background-repeat: no-repeat;
          @media (max-width: 767px) {
            top: 85px;
            left: 42px;
            background-size: auto 125px;
          }
        }
      }

      &__multi-number {
        &:after {
          content: "";
          position: absolute;
          top: 20%;
          left: 15%;
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/components/desktop/home/choice-three.svg");
          background-repeat: no-repeat;
          @media (max-width: 767px) {
            top: 85px;
            left: 42px;
            background-size: auto 125px;
          }
        }
      }

      &__content {
        margin-top: 50px;
        padding: 70px 20px;
        background: radial-gradient(81.64% 77.51% at 3.26% 0%, #FFF8F0 0%, #FFFFFF 100%);
        min-height: 600px;
        border: solid 1px #FFB341;
        border-top: solid 5px #FFB341;

        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 70px 12px;
        }
        @media (max-width: 767px) {
          min-height: 348px;
          max-height: 348px;
          padding: 0px 32px;
        }

        img {
          margin-top: 50px;
          @media (max-width: 767px) {
            margin-top: 28px;
          }
        }

        &--title {
          padding: 10% 20% !important;
        }

        &--pd-transfer {
          @media (min-width: 992px) and (max-width: 1919px) {
            padding: 0 2% !important;
          }
        }

        &--pd-title {
          @media (min-width: 992px) and (max-width: 1919px) {
            padding: 10% 5% !important;
          }
          @media (max-width: 767px) {
            padding: 10% 0 !important;
          }
        }
      }
      &__active-mobile {
        display: block;
        @media (min-width: 768px) {
          display: none;
        }
      }
      &__active-desktop {
        display: flex;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  .home-join {
    margin-top: 100px;
    width: 100%;
    min-height: 650px;
    background-image: url("/assets/images/components/desktop/home/join-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 767px) {
      background-size: cover;
    }

    &__title {
      margin-top: 100px;
      color: $white;

      @media (max-width: 767px) {
        padding-top: 100px;
      }

      @media (min-width: 768px) {
        padding-top: 100px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        margin-top: 0;
      }

      @media (min-width: 1200px) {
        padding-top: 50px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        padding-top: 10%;
      }

      &--mb-banner {
        display: none;
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
      }
      &--desktop-banner {
        display: none;
        @media (min-width: 992px) {
          display: flex;
          justify-content: center;
          height: 450px;
        }
      }
    }

    &__timeline {
      margin-top: 75px;
      @media (max-width: 991px) {
        padding: 10%;
      }

      ul, li{
        list-style: none;
        padding: 0;
      }

      &.access {
        @include timeline-icon;

        &:after {
          content: "1";
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          color: #FFFFFF;
          left: 18px;
          top: 5px;
        }
      }
      &.wallet-connection {
        @include timeline-icon;

        &:after {
          content: "2";
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          color: #FFFFFF;
          left: 16px;
          top: 5px;
        }
      }
      &.accept-connection {
        @include timeline-icon;

        &:after {
          content: "3";
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          color: #FFFFFF;
          left: 16px;
          top: 5px;
        }
      }
      &.register {
        @include timeline-icon;

        &:after {
          content: "4";
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          color: #FFFFFF;
          left: 15px;
          top: 5px;
        }
      }

      &--title {
        color: $white;
        @include font-t20b;

        @media (min-width: 768px) and (max-width: 991px) {
          @include font-t14r;
        }
      }

      .sessions {
        position: relative;

        li {
          border-left: 1px solid #F98600;
          position: relative;
          padding: 0.7rem 0 2rem 2.5rem;
          margin-left: 10px;
          cursor: pointer;

          &:last-child{
            border: 0;
            padding-bottom: 0;
          }
        }

        p {
          color: $white;
          font-family: sans-serif;
          line-height: 1.5;
          margin-top:0.4rem;
        }
      }
    }

    &__content {
      &--bsc {
        position: absolute;
        top: 72%;
        right: 40%;

        @media (min-width: 992px) and (max-width: 1199px) {
          right: 35%;
        }
      }

      &--eth {
        position: absolute;
        right: 20%;
        top: 55%;

        @media (min-width: 992px) and (max-width: 1199px) {
          right: 14%;
        }
      }

      &--poly {
        position: absolute;
        left: 16%;
        top: 20%;
      }

      &--vndt {
        position: absolute;
        top: 10%;
        left: 45%;
      }
    }

    &__content-text {
      @media (min-width: 768px) and (max-width: 991px) {
        @include font-t14r;
      }
      :deep(.link-action) {
        color: $yellow-900;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .home-transaction {
    &__banner {
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
      margin: auto;

      &--btn-spin {
        position: absolute;
        width: calc(clamp(70px, 6vw, 180px));
        left: 55%;
        top: 15%;
        -webkit-animation:spin 10s linear infinite;
        -moz-animation:spin 10s linear infinite;
        animation: spin 10s linear infinite;

        @media (min-width: 992px) and (max-width: 1199px) {
          top: 10%;
        }
        @media (min-width: 1200px) and (max-width: 1599px) {
          top: 12%;
        }
      }
    }

    &__content {
      margin: 25% auto;

      @media (min-width: 480px) and (max-width: 767px) {
        margin: 10% auto;
      }
      @media (max-width: 767px) {
        text-align: center;
      }

      h3 {
        padding-bottom: 50px;
        @include font-t48b;
        @media (max-width: 767px) {
          font-size: calc(clamp(2rem, 4vw, 48px));
        }

        &:after {
          content: '';
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 143px;
          height: 4px;
          background-color: #05A7A7;

          @media (max-width: 767px) {
            text-align: center;
            top: 38%;
            left: 36%;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            top: 43%;
          }
          @media (min-width: 992px) and (max-width: 1919px) {
            top: 42%;
          }
          @media (min-width: 1920px) {
            top: 39%;
          }
        }
      }

      &--text {
        margin-top: 60px;

        @media (min-width: 375px) and (max-width: 479px) {
          padding-left: 5%;
        }
        @media (max-width: 767px) {
          text-align: left;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          text-align: left;
        }

        ul {
          @media (min-width: 480px) and (max-width: 767px) {
            padding: 0 10%;
          }
        }

        li {
          margin-top: 25px;
          &:before {
            content: "\2022";
            color: #05A7A7;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }

      button {
        margin-top: 50px;
      }
    }
  }

  .home-join-action {
    &__mb-footer img{
      width: 100vw;
      margin-bottom: 24px;
    }
    &__banner {
      display: flex;
      justify-content: space-between;
      background-image: url("/assets/images/components/desktop/home/join-action-banner.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      height: 220px;
      width: calc(100% - 64px);
      margin: auto;

      @media (min-width: 375px) and (max-width: 767px) {
        background-image: url("/assets/images/components/desktop/home/join-action-banner-mobile.jpg");
        height: 128px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        height: 180px;
      }

      &--mascot {
        position: absolute;
        height: 240px;
        left: 18px;
        bottom: 0;
        @media (max-width: 768px) {
          height: 128px;
          left: 0px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          height: 200px;
        }
      }
    }

    &__content {
      margin: auto;

      @media (min-width: 375px) and (max-width: 479px) {
        min-width: 70%;
      }
      @media (min-width: 480px) and (max-width: 767px) {
        min-width: 60%;
      }
      @media (min-width: 768px) {
        min-width: 40%;
      }
      &--text {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-left: 180px;
        @media (max-width: 767px) {
          margin-left: 0px;
        }
      }
      &--text-main {
        font-weight: 900;
        font-size: 32px;
        line-height: 150%;
        @media (max-width: 991px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
          width: fit-content;
        }
      }
      &--text-content {
        font-weight: 900;
        font-size: 36px;
        line-height: 150%;
        @media (max-width: 991px) {
          font-size: 24px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
          width: fit-content;
        }
      }
      &--mobile-button {
        margin-top: 10px;
        background-color: #0FF4F4;
        color: #000000;
        @media (min-width: 375px) and (max-width: 479px) {
          padding: 5px;
        }
      }
    }

    &__connect-button {
      width: 14%;
      margin: auto;

      @media (min-width: 992px) and (max-width: 1919px) {
        min-width: 30%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        min-width: 30%;
        margin: auto;
      }

      button {
        background-color: #0FF4F4;
        color: #000000;
        padding: 10%;
        @media (min-width: 768px) and (max-width: 1919px) {
          margin-left: 20%;
          padding: 5% 20%;
        }
      }
    }
  }

  .home-button {
    padding: 16px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;

    @media (min-width: 768px) and (max-width: 991px) {
      line-height: 21px;
      size: 14px;
      font-weight: 700;
      padding: 10px 24px;
    }
  }

  @media (min-width: 992px) {
    .col-xl-2-4 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.base-button__contained {
  min-width: 160px;
}

.base-button__primary {
  padding: 2%;

  color: #18181B;
  border-color: #FAAC2E;
  background-color: #FAAC2E;
  min-width: 185px;

  &:hover {
    color: #18181B;
    border-color: rgba(250, 172, 46, 0.9);
    background-color: rgba(250, 172, 46, 0.9);
  }

  &:focus {
    color: #18181B;
    border-color: rgba(250, 172, 46, 0.9);
    background-color: rgba(250, 172, 46, 0.9);
  }
}

.pt10-only {
  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 10% 0;
  }
}

.pt0-only-min768 {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-left: 0;
  }
}

.active-mobile {
  display: block;
  @media (min-width: 768px) {
    display: none !important;
  }
}

.active-desktop {
  display: block;
  @media (max-width: 767px) {
    display: none !important;
  }
}

.margin-auto {
  margin: auto;
}

.font14r {
  @include font-t14r
}

.font14b {
  @include font-t14b
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
