.layout-wrapper {
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__head {
    background: var(--mode-light-dark-0);
    padding: 1rem 1rem 0;
    &--center {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__body {
    flex-grow: 1;
  }
  &__title {
    @include font-t20m;
    color: var(--mode-light-dark-1500);
    margin: 0;
    padding-bottom: 1rem;
  }
  @media (min-width: 700px) {
    &__head {
      padding: 1rem 1rem 0;
    }
    &__body {
      padding: 1rem;
    }
  }
  @media (min-width: 1024px) {
    &__head {
      background: var(--mode-light-dark-100);
    }
  }
  @media (min-width: 1600px) {
    &__head {
      padding: 1rem 3rem 0;
    }
    &__body {
      padding: 1rem 3rem;
    }
  }
}
