body {
  overflow-x: hidden;
}
.landing-section {
  font-family: 'Roboto Condensed', sans-serif;
  background: #0A0D1A;
  color: #000;
  &__header {
    display: none;
    @media (min-width: 992px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      background-color: #090B0E;
      transition: background-color 0.3s ease-out;
      &.is-sticky {
        position: fixed;
        z-index: 1000;
        animation: slideDown 0.3s ease-out;
        background-color: #090B0E;
      }
    }
  }
  &__navbar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #090B0E;
    transition: background-color 0.3s ease-out;
    &.is-sticky {
      position: fixed;
      animation: slideDown 0.3s ease-out;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__maintenance {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 1001;
  }
  &__header-top {
    top: 24px;
    @media (min-width: 768px) {
      top: 32px;
    }
  }
  &__chat-supporter {
    position: fixed;
    bottom: 55px;
    right: 12px;
    z-index: 1;
  }
  &__chat-supporter-inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
