.management-container {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding-left: 80px;
  background-color: #fff;
  transition: all 0.2s linear;
  @media (max-width: 1023px) {
    padding-left: 0;
  }
  @media (min-width: 1600px) {
    padding-left: 250px;
    &.collapsed {
      padding-left: 80px;
    }
  }
}
.main {
  &__maintenance {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 1001;
  }
  &__header-top {
    top: 24px;
    @media (min-width: 768px) {
      top: 32px;
    }
  }
  &__nav-bar {
    top: 112px;
  }
}
.main-mobile {
  padding-bottom: 80px; // space with bottom bar
}
