.order-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: white;
  border-bottom: 1px solid $grey-100;
  .filter-item {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: $grey-400;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      font-size: 12px;
      transition: 0.3s;
      &::before {
        color: $grey-400;
      }
    }
    &.selected,
    &.active {
      color: $yellow-800;
      span{
        &::before {
          color: $yellow-800;
        }
      }
    }
    &.selected {
      span {
        transform: rotate(-180deg);
        display: inline-block;
        width: fit-content;
        transition: 0.3s;
      }
    }
  }
}
