$order-detail: "order-detail";

.#{$order-detail} {
  &__title {
    padding-top: 18px;
    border-top: solid 1px #e4e4e7;
  }
  &-item {
    padding-bottom: 10px;
  }
  .bank-icon {
    width: 24px;
  }
  .status {
    background-color: $yellow-50;
    padding: 2px 19px;
  }
  .footer {
    background: #ffffff;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .content {
    padding: 16px 16px 110px;
  }
  .empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 120px;
      margin-bottom: 8px;
    }

    .empty-text {
      @include font-t14r;
      color: $grey-400;
    }
  }
}
.list-tx {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .tx-value {
    cursor: pointer;
  }
  .value {
    @include font-t14m;
    color: $grey-900;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &.bullish-green {
      color: $bullish-green;
      @include font-t14b;
    }
    &.font-t20b {
      @include font-t20b;
    }
    &.bearish-red {
      color: $bearish-red;
      @include font-t14b;
    }

    &.primary-yellow {
      color: $yellow-800;
    }
  }
}
:deep(.icon-success) {
  font-size: 16px;
  margin-left: 8px;

  &::before {
    color: $green-500;
  }
}

:deep(.icon-loading) {
  font-size: 16px;
  margin-left: 8px;
  animation: spin 1s linear infinite;

  .path1::before {
    color: $yellow-800;
  }
}

:deep(.icon-circle-cancel) {
  font-size: 16px;
  margin-left: 8px;

  .path1::before {
    color: $red-500;
  }
}
.detail-order {
  &__item {
    padding: 18px 0;
    &:not(:first-child) {
      border-top: 1px solid $grey-200;
    }
  }
  :deep(.detail-card) {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
