.order-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  position: relative;
  &__header {
    @media (min-width: 1600px) {
      padding: 16px 48px 0;
    }
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 16px 24px 0;
    background-color: $grey-50;
    .nav-bar {
      display: flex;
      column-gap: 32px;
    }
    .nav-link {
      display: inline;
      padding: 0;
      @include font-t14b;
      color: $grey-400;
      padding-bottom: 10px;
      &.nuxt-link-active {
        color: $grey-900;
        border-bottom: 2px solid $yellow-800;
        span {
          color: $yellow-800;
        }
      }
      span {
        display: inline-block;
        margin-left: 4px;
        padding: 2px;
        min-width: 20px;
        text-align: center;
        color: $grey-400;
        background: #f4f4f5;
        border-radius: 4px;
      }
    }
  }
  &__content {
    @media (min-width: 1600px) {
      padding: 14px 48px 35px ;
    }
    background-color: #fff;
    width: 100%;
    max-height: 100%;
    flex: 1;
    padding: 14px 24px 35px ;
  }
  @media (max-width: $size-semi-container) {
    &__header {
      padding: 12px 16px 0;
      box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
        0px 1px 2px rgba(16, 24, 40, 0.06);
      position: sticky;
      top: 56px;
      left: 0;
      z-index: 1000;
      .title {
        display: none;
      }
    }
    &__content {
      padding: 0;
      @include scroll;
    }
  }
}
