.orders-filter {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  .gap-12 {
    gap: 12px;
  }
  .search {
    width: 364px;
    height: 40px;
    position: relative;
    &__input {
      width: 100%;
      height: 100%;
      outline: none;
      border: 1px solid $grey-300;
      border-radius: 8px;
      padding: 8px 49px 8px 12px;
      @include font-t14r;
      &::placeholder {
        color: $grey-300;
      }
    }
    .icon {
      position: absolute;
      font-size: 24px;
      top: 8px;
      right: 8px;
    }
  }
  .link{
    padding-left: 20px;
  }
  .refresh-btn {
    width: 156px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include font-t14m;
    color: $grey-900;
    background: #ffffff;
    border: 1px solid $grey-300;
    border-radius: 8px;
    transition: 0.3s;
    &:hover {
      background-color: $grey-200;
    }
    .icon-loading {
      font-size: 20px;
      margin-right: 8px;
      .path1::before {
        color: $yellow-800;
      }
    }
  }
}
