.revenue-chart {
  padding: 16px;
  position: relative;
  .icon-cancel {
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 18px;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .title {
      display: flex;
      align-items: center;
      color: #191D23;
      font-weight: 600;
      font-size: 20px;
      gap: 8px;
      min-width: 400px;
      img {
        width: 32px;
        height: 32px;
      }
      p {
        margin: 0px;
      }
    }
    .date-picker-filter {
      display: flex;
      gap: 12px;
      .filter-option {
        height: 40px;
        padding: 5px 16px;
        border-radius: 6px;
        background-color: #F3F4F7;
        color: #73788B;
        border: 1.5px solid #E2E4EB;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        &.active {
          border-color: #FA5F07;
          color: #FA5F07;
          background-color: #FFF5EF;
        }
      }
      .filter-custom {
        height: 40px;
        border-radius: 6px;
        background-color: #F3F4F7;
        color: #73788B;
        display: flex;
        align-items: center;
        padding-right: 8px;
        border: 1.5px solid #E2E4EB;
        :deep(.mx-input-wrapper) {
          height: 38px;
          border-radius: 6px;
          border: none;
          .mx-icon-calendar {
            display: none;
          }
        }
        :deep(.datepicker-custom__value) {
          color: #73788B;
          font-weight: 600;
        }
        .icon-caret-down {
          margin-left: -12px;
        }
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .btn-group {
      display: flex;
      padding: 4px;
      background: var(--mode-light-dark-200);
      border-radius: 6px;
      border: 1.5px solid var(--mode-light-dark-300);
      .btn-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
        cursor: pointer;
        @include font-t14b;
        outline: none;
        border: none;
        border-radius: 4px;
        color: var(--mode-light-dark-700);
        transition: background-color 0.2s;
        text-transform: uppercase;
      }

      .active {
        color: $white;

        &.bullish-green {
          background-color: $bullish-green;
        }

        &.bearish-red {
          background-color: $bearish-red;
        }
      }
    }
    .chart-legend {
      display: flex;
      gap: 32px;
      align-items: center;
      .legend-note {
        display: flex;
        gap: 4px;
        align-items: center;
        color: #73788B;
        font-weight: 400;
        font-size: 12px;
        .chart-color {
          width: 22px;
          height: 10px;
          display: block;
          border-radius: 2px;
          &.price {
            background-color: #007EC5;
          }
          &.buy-revenue {
            background-color: #45B957;
          }
          &.sell-revenue {
            background-color: #FF2E2E;
          }
        }
      }
    }
  }
  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1290px;
    height: 300px;
    &.error {
      color: #FF2E2E;
    }
  }
}
:deep(.modal-custom) {
  .modal-dialog {
    max-width: 1356px;
    @media (max-width: 1024px) {
      max-height: 990px;
    }
  }
}
:deep(.mx-datepicker-popup) {
  width: 560px !important;
  right: 0.350006px;
  left: auto !important;
  top: 42px !important;
}
