$modal-support: 'modal-support';

.#{$modal-support} {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include font-t20m;
  }

  &__close {
    font-size: 24px;
    cursor: pointer;
    height: 24px;
  }
  &__submit {
    width: 100%;
    transition: 0.3s;
  }
  &__subtitle {
    @include font-t14r;
    color: $grey-500;
    margin: 24px 0;
  }
  .support-radio {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 32px;
    margin-bottom: 8px;
    @include font-t14m;
    cursor: pointer;
  }
}

:deep(.modal-content) {
  border: none;
  border-radius: 8px;
}

:deep(.modal-body) {
  padding: 32px;
}
:deep(.custom-control-label) {
  &::before,
  &::after {
    width: 20px;
    height: 20px;
    top: 0;
    left: -32px;
    border-radius: 6px;
  }
  cursor: pointer;
}
:deep(.custom-radio) {
  .custom-control-input:checked ~ .custom-control-label:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23F68420'/%3E%3C/svg%3E");
  }
  .custom-control-input:checked ~ .custom-control-label:before {
    color: #ffffff;
    border-color: $yellow-900;
    background-color: #ffffff;
  }
  .custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: none;
  }
}
