.popover-appeal {
  border-radius: 8px;
  background: $white;
  border: none;
  box-shadow: 0 4px 18px 1px rgba(0, 0, 0, 0.07);
  .arrow {
    display: none;
  }
  .popover-body {
    padding: 0;
  }
  &__list {
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__item {
    padding: 10px 16px;
    @include font-t14m;
    color: $grey-400;
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    &--border-top {
      border-top: 1px solid $grey-100;
    }
    &:hover {
      background: rgba(255, 141, 7, 0.05);
      color: $main-600;
    }
  }
}
