.empty-data {
  &__text {
    @include font-t14m;
    color: $grey-500;
  }
  &__img {
    width: calc(clamp(120px, 11vw, 180px));
  }
  &__text {
    margin: 28px 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
