$header: "header";

.#{$header} {
  background-color: var(--mode-light-dark-0);
  position: sticky;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 1001;
  display: flex;
  align-items: center;
  &__container {
    height: inherit;
    padding-inline: 16px;
    max-width: 100%;
    width: 100%;
  }
  &__no-container {
    height: inherit;
    padding-inline: 16px;
    @media (min-width: 1280px) {
      max-width: 100%;
      padding-inline: 64px;
    }
  }
  &__wrapper-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__information {
    display: flex;
    padding: 8px 16px;
    @include font-t16m;
    color: $main-600;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__connect-wallet {
    &.base-button {
      width: 141px;
    }
  }
  .wrapper-logo {
    position: relative;
  }
  .only-desktop {
    display: block;
  }
  .logo {
    width: 150px;
    height: 40px;
    object-fit: contain;
  }
  .role-name {
    @include font-t10m;
    color: $main-600;
    position: absolute;
    bottom: 7px;
    width: 175px;
    margin-left: 5px;
    right: -7px;
    transform: translateX(100%);
    @media (min-width: 768px) {
      @include font-t16m;
    }
  }
  .only-mobile {
    display: none;
  }
  .icon {
    font-size: 32px;
    cursor: pointer;
  }
  .menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    &__link {
      @include font-t18b;
      color: $white;
      &:hover {
        color: $main-600;
        text-decoration: none;
      }
      &.nuxt-link-exact-active {
        color: $main-600;
      }
    }
  }
  @media (max-width: 1023px) {
    height: 56px;
    padding: 10px 0;
    z-index: 1040;
    &__connect-wallet {
      &.base-button {
        width: 107px;
        @include font-t12m;
        padding: 7px 11px;
        border-radius: 4px;
      }
    }
    .only-desktop {
      display: none;
    }
    .only-mobile {
      display: flex;
      align-items: center;
    }
    .logo {
      width: 111px;
      height: 40px;
    }
    .icon {
      font-size: 24px;
    }
    .menu {
      gap: 24px;
    }
  }
}

