.chat-action {
  border-radius: 8px;
  border: 4px solid $grey-100;
  background: #FFF;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background: $grey-50;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__icon {
    font-size: 32px;
  }
  &__text {
    @include font-t14b;
    color: $grey-800;
  }
  &__noti-dot {
    width: 12px;
    height: 12px;
    background-color: $bearish-red;
    border-radius: 50%;
  }
}
