.order-waiting {
  padding: 4px 8px;
  border-radius: 6px;
  background: $red-50;
  width: 72px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  &__value {
    text-shadow: 1px 2px 4px rgba(255, 0, 0, 0.25);
    color: $red-500;
    @include font-t14m;
  }
  &__icon {
    font-size: 20px;
    &:before {
      color: $red-500;
    }
  }
}
