$payment-info: "payment-info";
$payment-confirmation: "payment-confirmation";
$payment: "payment";
$cancellation: "cancellation";
$sell-payment-info: "sell-payment-info";
$sell-payment: "sell-payment";

.#{$payment-info},
.#{$payment-confirmation},
.#{$payment},
.#{$cancellation},
.#{$sell-payment-info},
.#{$sell-payment} {
    background: var(--mode-light-dark-0);
    padding-bottom: 90px;

    &__header {
        padding: 12px 16px 8px;
        background: var(--mode-light-dark-0);
    }

    &__header-text {
        color: var(--mode-light-dark-1000);
        padding-bottom: 8px;
        border-bottom: 1px solid var(--mode-light-dark-300);
        @include font-t20b;
    }

    &__content {
        padding: 0 16px;
    }

    &__payment-methods-item {
        margin-top: 12px;
    }

    &__payment-methods-note {
        margin-top: 12px;
    }

    &__action {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        padding: 12px 16px;
        background: var(--mode-light-dark-0);
        box-shadow: 12px 4px 16px rgb(16 24 40 / 20%), 12px 4px 6px -2px rgb(16 24 40 / 20%);
        display: flex;
        grid-column-gap: 12px;
        column-gap: 12px;
        margin-bottom: 0;

        .contact_customer,
        .join-tele {
            color: $white;
            background: $blue-400;
            border-radius: 8px;
            @include font-t14r;
            padding: 10px 16px;

            .icon-complaint {
                font-size: 20px;
                margin-right: 8px;

                &:before {
                    color: $white;
                }
            }
        }

        .contact_customer {
            background: $red-500;
        }
    }

    &__submit {
        padding: 10px;
        margin-right: 0;
        flex-grow: 1;
        @include font-t14m
    }
}

.#{$payment-info},
.#{$sell-payment-info} {
    &__highlight {
        padding: 12px;
        border-radius: 8px;
        background: var(--card-payment-background-color);
    }
}

.#{$payment-info} {
    &__submit {
        @include font-t12b
    }

    &__payment-methods {
        :deep(.bank-qr) {
            flex-direction: column;
            padding: 12px;
            gap: 12px;
        }
    }

    &__button-icon {
        font-size: 20px;
        margin-right: 8px;

        &:before {
            color: $white;
        }
    }

    &__button-cancelled {
        min-width: 94px;
    }
}

.#{$sell-payment} {
    &__action {
        .link {
            min-width: 90px;
        }
    }

    &__button-action {
        .icon-complaint {
            font-size: 20px;
            margin-right: 8px;

            &:before {
                color: $white;
            }
        }
    }
}

.#{$cancellation} {
    padding-bottom: 2.5rem;

    &__header {
        background: var(--mode-light-dark-100);
        padding: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__text-inner {
        margin-top: 1rem;
    }

    &__text-link {
        @include font-t14m;
        color: $main-600;

        &:hover {
            opacity: 0.9;
            text-decoration: none;
        }
    }
}

.#{$payment},
.#{$sell-payment},
.#{$sell-payment-info} {
    &__action-contact {
        flex: 0 0 35%;
    }

    &__button-action {
        .icon-complaint {
            font-size: 20px;
            margin-right: 6px;

            &:before {
                color: $white;
            }
        }
    }
}

.#{$payment-confirmation} {
    &__button-action {
        .icon-complaint {
            font-size: 20px;
            margin-right: 6px;

            &:before {
                color: $white;
            }
        }
    }
}

.#{$sell-payment-info} {
    &__tx-hash {
        border-radius: 8px;
        margin-top: 12px;
        background: var(--mode-light-dark-100);
        color: var(--mode-light-dark-1500);
        padding: 12px 16px;

        .tx-submit {
            margin-top: 20px;
            @include font-t14m;
            font-weight: 600;
            color: $light-blue-100;
            display: flex;
            align-items: center;
        }
    }

    &__external-icon {
        font-size: 1rem;
        margin-left: 4px;

        &:before {
            color: $light-blue-100;
        }
    }
}

.user-order-info {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--mode-light-dark-300);

    &__type {
        @include font-t12b;

        span {
            @include font-t12b;
        }

        &.buy {
            color: $bullish-green;
        }

        &.sell {
            color: $bearish-red;
        }
    }

    &__text {
        @include font-t12b;
        color: var(--mode-light-dark-400);
    }

    &__nickname {
        padding: 2px 12px;
        border-radius: 4px;
        background-color: var(--mode-light-dark-200);
        @include font-t12b;
    }
}
