.stepper-section {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  &__item {
    margin-left: auto;
    width: 90%;
    &:first-child, &:last-child {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
