.stepper {
  position: relative;
}
:deep(.swiper-pagination) {
  right: 0;
}
:deep(.swiper-pagination-bullet) {
  width: 4px;
  height: 4px;
  background: #E6F6F6;
  opacity: 1;
  margin: 0 4px;
}
:deep(.swiper-pagination-bullet-active) {
  width: 19px;
  background: #05A7A7;
  border-radius: 4px;
}
