.card-result {
  background: #FFFFFF;
  border: 1px solid #E8E8EF;
  border-radius: 8px;
  padding: 1rem;
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 1rem;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 29px;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
