.crypto-input {
  position: relative;
  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
    @include font-t16r;
    color: var(--mode-light-dark-600);
    position: absolute;
    top: 37px;
    right: 12px;
    &--top {
      top: 8px;
    }
  }
  &__sell-all,
  &__buy-all {
    @include font-t16m;
    color: $main-600;

    &:hover {
      cursor: pointer;
    }
  }
}
:deep(.base-input input) {
  padding-right: 60px;
  background-color: var(--mode-light-dark-0);
}
.is-text-buy-all {
  :deep(input) {
    padding-right: 120px !important;
  }
}
