 .modal-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 24px;
  @media (max-width: 768px) {
    row-gap: 16px;
    &__txt {
      @include font-t14r;
      max-width: 286px;
      color: var(--mode-light-dark-1500);
      margin: 0 auto;
    }
    &__btn{
      @include font-t14r;
    }
  }

}
 .delete-bank {
   &__text {
     color: var(--mode-light-dark-1500);
   }
 }
.icon {
  font-size: 120px;
  color: #EE543E;
  &:before {
    color: #EE543E;
  }
}
