.shift-management {
  &__header {
    margin-top: 16px;
    text-align: center;
  }

  &.checkout {
    .shift-management__description {
      color: #2FB8B8;
    }
  }

  &__description {
    @include font-t16m;
    color: #FA5F07;
    margin-top: 16px;
    white-space: pre-line;

    &.success {
      color: #45B957 !important;
    }

    &.error {
      color: #FF2E2E !important;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px 0;
  }

  :deep(.copy-content__text) {
    @include font-t14m;
    color: #303646;
  }

  &__info-item {
    @include font-t14m;
    color: #303646;

    .info-item__label {
      @include font-t14r;
      color: #73788B;
    }
  }

  &__transaction-label {
    @include font-t14r;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    color: #73788B;
    border-bottom: 1px solid #E2E4EB;
  }

  &__action {
    margin-top: 16px;
  }

  .transaction-item {
    color: #191D23;
    @include font-t14r;

    &___asset-name,
    &__balance {
      display: flex;
      align-items: center;
    }

    &__balance {
      font-weight: 600;
      gap: 4px;
    }
  }

  &__response {
    @include font-t16m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin-top: 16px;
    color: #191D23;
    border-radius: 6px;
    background-color: #F3F4F7;

    span {
      &:not(.normal) {
        @include font-t14r;
        margin-right: 16px;
      }

      color: #73788B;
    }
  }

  .transaction-list__item {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    &:nth-child(odd) {
      background-color: #F8F9FA;
    }

    span {
      color: #73788B;
    }
  }
}
