.question-collapse {
  &__title {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    margin: 0;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;
    }
    &.active {
      font-weight: 700;
      color: #05A7A7;
      &:before {
        content: '';
        background: #05A7A7;
      }
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }
  &__wrapper-title {
    display: none;
  }
  .question-collapse-header {
    display: block;
  }
  :deep(.help-content__text) {
    color: #000;
  }
  @media (max-width: 767px) {
    .question-collapse-header {
      display: none;
    }
    &__wrapper-title {
      display: block;
    }
  }
}
