.banner-header {
  position: relative;
  width: 100%;
  &__container {
    height: calc(clamp(594px, 40vw, 600px));
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
      height: calc(clamp(612px, 44vw, 840px));
    }

    @media (min-width: 1500px) {
      max-width: 1408px;
    }
  }

  &__outer {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 0 pxVwTablet(16);
    }

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  &__inner {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    @media (min-width: 768px) {
      align-items: center;
    }

    &:first-child {
      flex: 0 0 35%;
      @media (min-width: 768px) {
        flex: 0 0 50%;
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        flex: 0 0 50%;
        padding: 0;
      }
    }

    &:last-child {
      flex: 0 0 55%;

      @media (min-width: 768px) {
        flex: 0 0 50%;
      }
    }
  }

  &__thumbnail,
  &__security,
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
      width: calc(375px + 8vw);
      height: calc(350px + 5vw);
    }

    @media (min-width: 1024px) {
      width: 100%;
      height: 70%;
    }
  }

  &__thumbnail {
    animation: lightAnimation 1.2s infinite ease-in-out;
  }

  &__thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (min-width: 768px) {
      bottom: 0;
    }
  }
  // banner 2
  &__security {
    transform: scale(0.86);
    @media (min-width: 1024px) {
      transform: scale(1);
    }
  }
  &__security-inner {
    animation: 3s pulseScale infinite;
  }
  &__security-inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: 3s pulseScale infinite;
    @media (min-width: 768px) {
      bottom: 0;
    }
    &--mb {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }
    }
    &--pc {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
