.steps {
  display: flex;
  height: 100%;
  flex-flow: column;
  line-height: initial;
  .step {
    display: flex;
    flex-shrink: 1;
    position: relative;
    flex-basis: 50%;

    &__head {
      position: relative;
      text-align: center;
      border-color: #838A92;
      flex-grow: 0;
      width: 16px;
      &.is-finish {
        .step {
          &__icon {
            background: #fff;
            border: 4px solid $persian-green;
          }
          &__line {
            background: #BDBDC1;
          }
        }
      }
    }
    &__line {
      position: absolute;
      margin-right: 0;
      width: 2px;
      top: 0.5rem;
      bottom: 0;
      left: 7.5px;
      background: $persian-green;
    }
    &__icon {
      position: relative;
      z-index: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      box-sizing: border-box;
      background: $persian-green;
      border-radius: 50%;
    }
    &__main {
      border-bottom: 1px solid $grey-200;
      margin-left: 10px;
      flex-grow: 1;
      padding: 1rem 0;
      &.is-finish {
        border: none;
      }
    }
    &__title {
      color: #838A92;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      margin: 0;
    }
    @media (min-width: 768px) {
      &__title {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.content-step {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__date {
    color: $grey-400;
    padding-bottom: 14px;
    @include font-t12b;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    &.is-finish {
      color: $grey-800;
    }
  }
  &__title {
    @include font-t14b;
    color:  $grey-400;
    &.is-finish {
      color: $grey-800;
    }
  }
  &__detail {
    @include font-t14r;
    color: $grey-400;
    p {
      margin: 0;
    }
    &.is-finish {
      color: $grey-800;
    }
  }
  &__footer {
    padding-top: 4px;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__footer-date {
    @include font-t14r;
    color: $grey-300;
  }
}
