.detail-header {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
  }
  &__title {
    @include font-t20b;
    color: $grey-600;
    margin: 0;
    .sell {
      color: $bearish-red;
    }
    .buy {
      color: $bullish-green
    }
  }
  &__icon {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
    &:before {
      color: $grey-600;
    }
  }
  &__content {
    display: flex;
    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__command {
    display: flex;
    align-items: center;
    gap: 8px;
    @media (min-width: 768px) {
      padding-left: 36px;
    }
    :deep(.copy-button__icon) {
      margin-left: 0;
    }
  }
  &__command-text {
    @include font-t14r;
    color: $grey-400;
  }
  &__command-number {
    text-decoration-line: underline;
  }
  &__command-value {
    @include font-t14m;
    color: $grey-600;
  }
  &__datetime {
    @include font-t14r;
    color: $grey-400;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}
