$note: "note";

.#{$note} {
    background: var(--mode-light-dark-badget-pastel-green);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-left: 3px solid $light-blue-100;

    &__head {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    &__title {
        margin-left: 8px;
        @include font-t14b;
        color: var(--mode-light-dark-1500);
    }

    &__icon {
        font-size: 24px;

        &::before {
            color: $light-blue-100;
        }
    }

    &__expand {

        &.narrow {
            display: flex;

            .icon-arrow-up {
                transform: rotate(180deg);
            }
        }
    }

    &__title-content {
        display: none;
    }

    &__list {
        color: var(--mode-light-dark-1500);
        margin-bottom: 0;
        list-style-type: decimal;
        padding-left: 1rem;
        @include font-t14r;
    }

    .icon-arrow-up {
        &::before {
            color: var(--mode-light-dark-700);
        }
    }

    &.mobile {
        padding: 14.5px 16px;
        flex-direction: column;

        .#{$note} {
            &__title-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
            }

            &__title-text {
                color: var(--mode-light-dark-1500);
                @include font-t14m;
                margin-left: 4px;
            }

            &__list {
                padding-left: 24px;
                margin-top: 8px;
            }

            &__item {
                list-style-type: decimal;
            }
        }
    }
}
