.posting-item {
  padding: 24px 0;
  border-bottom: solid 1px $grey-100;
  &__progress-line {
    max-width: 200px;
  }
  &__status {
    padding: 3px 7px;
    background-color: $grey-100;
    border-radius: 4px;
    min-width: 79px;
    text-align: center;
    &.online-status {
      background: #E6F8EC;
      color: #33C963;
    }
  }
  :deep(.icon-edit-dots) {
    font-size: 24px;
  }
  :deep(.custom-control-label) {
    margin-top: -.25rem;
  }
  :deep(.custom-control-input) {
    &:checked +.custom-control-label {
      &::before {
        background-color: $orange-600;
        border-color: $orange-600;
      }
    }
  }
  :deep(.b-dropdown) {
    display: inline-block;
    border: none;
    width: auto;
    padding: 0;
    .dropdown__item {
      font-size: 10px;
    }
    button {
      padding: 0 36px 0 0;
      font-size: 10px;
      &:after {
        content: "\e946";
        border: none;
        font-size: 7px;
        font-family: icomoon;
        font-style: normal;
        font-weight: 400;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $grey-500;
      }
    }
  }
}
