$select-filter: "select-filter";

.#{$select-filter} {
    margin-top: 8px;
    &__container {
        display: flex;
        column-gap: 80px;
        padding: 20px 16px 16px;
        border-bottom: 1px solid $grey-50;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }
    &__action {
        display: flex;
        padding: 16px 16px 20px;
        border-bottom: 1px solid $grey-50;
        justify-content: space-between;
        column-gap: 16px;
    }
    &__action-btn {
        min-width: unset;
        flex: 1;
    }
    &.calendar-custom {
        .#{$select-filter}__container {
            padding: 20px 0 16px;
            border-bottom: none;
            column-gap: 40px;
        }
    }
}
