.modal-content {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.add-news {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__label {
    @include font-t14m;
    color: var(--mode-light-dark-1500);
    margin-bottom: 6px;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    @include font-t14r;
    color: #49526A;
  }
  &__action {
    display: flex;
    gap: 1rem;
  }
}
