.shift-status {
  color: #FF2E2E;
  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__icon {
    font-size: 20px;
    &:before {
      color: inherit;
    }
  }
  &__text {
    @include font-t14m;
    color: inherit;
  }
  &.warning {
    color: #FF2E2E;
  }
  &.success {
    color: #45B957;
  }
}
