.balance-limit {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__header-inner {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__loading {
    @include font-t14m;
    color: var(--mode-light-dark-700);
    text-align: center;
    height: 308px;
  }
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__succeed-title {
    @include font-t14m;
    color: $bullish-green;
    margin-bottom: 8px;
    text-align: center;
  }
  &__content {
    @include font-t14r;
    color: var(--mode-light-dark-800);
    text-align: center;
  }
  &__action {
    margin-top: 24px;
  }
  &__desc {
    @include font-t14r;
    color: var(--mode-light-dark-700);
  }

  &__title {
    @include font-t16m;
    color: var(--mode-light-dark-900);
    &--large {
      @include font-t20m;
    }
  }
  &__info {
    margin-bottom: 12px;
  }
  &__close {
    font-size: 20px;
    cursor: pointer;
    height: 24px;
  }
  .assets {
    &__body {
      padding: 12px;
      background-color: var(--mode-light-dark-100);
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &__item {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        border-bottom: 1px solid var(--mode-light-dark-200);
      }
    }
    &__content {
      @include font-t12r;
      @media (min-width: 992px) {
        @include font-t14r;
      }
    }
    &__value {
      @include font-t14m;
      color: #000;
      @media (min-width: 992px) {
        @include font-t16m;
      }
    }
    :deep(.base-input) {
      margin-bottom: 0;
    }
  }
}

:deep(.modal-content) {
  border: none;
  border-radius: 8px;
}
