.user-orders {
  padding-bottom: 3rem;
  &__head {
    background: #FFFFFF;
    border-bottom: 1px solid $grey-100;
    @media (max-width: 1023px) {
      position: sticky;
      top: 56px;
      left: 0;
    }
    @media (min-width: 1024px) {
      margin-left: -1rem;
      box-shadow: none;
      background: $grey-50;
    }
  }
  .tab-head {
    padding: 24px 16px 0;
    background: $grey-50;
    @media (min-width: 1024px) {
      padding: 1rem 0 0;
    }
    &__title {
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
    }
    &__title {
      @include font-t20m;
      color: $grey-900;
      margin-bottom: 1rem;
    }
  }
}
