.list-faq {
  padding: 11px 1rem;
  &__title {
    @include font-t14m;
    color: var(--mode-light-dark-1500);
    padding-bottom: 1rem;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @media (min-width: 1024px) {
      grid-gap: 2rem 1rem;
    }
  }
}
