.order-footer {
  padding: 1rem 0 0;
  border-top: 1px solid $grey-200;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__inner {
    flex: 0 0 46%;
  }
  &__text {
    @include font-t12m;
    color: $grey-600;
    :deep(span) {
      color: $yellow-800;
    }
  }
}
